<div class="row">
  <div class="col-md-4">
    <% #部分テンプレートを読み込んでいる %>
    <%= render 'form' %>
  </div><!--cols-md-4-->
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
        Latest Comments
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
            <div class="msg-list">
              <span class="label label-info"><%= message.name %></span>
              <p><span class="msg-body"><%= message.body %></span></p>
              (<%= link_to "edit" , edit_message_path(message) %>)
              <br>
            </div>
          <% end %>
        </div><!--panel-body-->
      </div><!--panel panel-default-->
    </div><!--cols-md-8-->
</div><!--row-->